.wsrw-search-results {
	width: 100%;

	pre {
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	.wsrw-highlight {
		background-color: #FFFF00;

		&.wsrw-highlight-red {
			background-color: #fa9898;
		}

		&.wsrw-highlight-green {
			background-color: rgb(119, 213, 119);
		}
	}

}

.wsrw-new-value,
.wsrw-old-value {
	width: 30%;
}

.wsrw-form-row {
	margin: 15px 0;
}

#wsrw-results {
	height: 500px;
	overflow: scroll;
	border: 1px solid #c3c4c7;

	table.widefat {
		border: none;
	}
}

.wsrw-progress-bar {
	background: #c4cbcf;
	width: 100%;
	height: 26px;
	border-radius: 5px;
	margin: 10px 0;

	.wsrw-progress-bar-inner {
		background: var(--wsrw-color-primary);
		height: 100%;
		border-radius: 5px;
		width: 0;
	}
}

.wsrw-progress-text {
	min-height: 19px;
	text-align: center;
}

.wsrw-not-licensed {
	.wsrw-check-row-input {
		cursor: pointer;

		input[type="checkbox"] {
			background: rgba(255, 255, 255, .5);
			border-color: rgba(220, 220, 222, .75);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, .04);
			color: rgba(44, 51, 56, .5);
			opacity: 0.7;
		}
	}
}

.wsrw-discount-note {
	grid-row: 4;
	grid-column: 1 / -1;
	margin: 25px 0 0 0;
	text-align: center;
	width: 100%;

	p {
		background-color: #fcf9e8;
		color: #777777;
		font-size: 16px;
		margin: 0 -30px;
		padding: 12px 52px 12px 52px;
		position: relative;

		span {
			color: #00a32a;
			font-weight: 700;
		}
	}
}

.jconfirm-icon-c .wsrw-icon {
	path {
		fill: #8A8A8A;
	}
}
.wsrw-search-history-section{
	.wsrw-search-history-header-row{
		display: flex;
		gap: 12px;
		align-items: center;
		margin-bottom: 8px;
	}
	.wsrw-button-link{
		background: transparent;
		border: none;
		padding: 0;
		color: var(--wsrw-color-primary);
		cursor: pointer;
	}
	.wsrw-selected-search{
		background: #f1f5f9;
		border: 1px solid #e2e8f0;
		border-radius: 4px;
		padding: 8px 10px;
		font-size: 13px;
		display: inline-flex;
		gap: 8px;
		align-items: center;
	}
	hr{
		margin: 36px 0;
	}
	.wsrw-selected-search-label{
		color: #475569;
	}
	.wsrw-history-modal-content{
		padding: 10px 0 0 0;
		max-height: 420px;
		overflow: auto;
	}
	.wsrw-search-history-list{
		width: 100%;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		list-style-type: none;
		margin: 0;
		overflow-y: auto;
		padding: 0;
		position: relative;

		li{
			padding: 10px 10px 10px 10px;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px #eee solid;
			color: var(--wsrw-text-color-paragraph);
			font-size: 14px;
			margin: 0;
			.wsrw-search-history-item-content{
				display: flex;
				align-self: center;
				justify-content: space-between;
				width: 100%;
				gap: 10px;
				margin-right: 20px;
			}
			.wsrw-search-history-actions{
				min-width: 160px;
				margin: auto 0px;
			}
			.wsrw-search-history-item-main{
				display: flex;
				flex-direction: column;
			}
			.wsrw-search-history-item-meta{
				margin: auto 0;
				min-width: 110px;
			}
		}
	}
}